@import "catppuccin-mocha"

@theme "catppuccin-default"

configuration {
    show-icons: true;
    font: "Iosevka Nerd Font 14";
    disable-history: true;
    sort: true;
    // sorting-method: "name";
    modes: "drun,run,window";
    display-drun: "Apps";
}

window {
    width: 30%;
    anchor: center;
    location: center;
    border: 1px;
    padding: 20;
  }

listview {
    lines: 10;
    columns: 1;
    dynamic: true;
    fixed-height: false;
    scrollbar: false;
    spacing: 5;
  }
